{% extends "base.html" %}

{% block content %}
<!-- --------------------------------------------- -->
<!---------------- Flash Messages -------------------->
<!-- ---------------------------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<span style="color:red"> {{ message }} <br></span>
{% endfor %}
{% endif %}
{% endwith %}
<!-- --------------------------------------------- -->





<!-- --------------------------------------------- -->
<!---------------- Houses Table   -------------------->
<!-- ---------------------------------------------- -->
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

{% if tenants is defined and tenants | length > 0 %}
<h3>Tenants</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Room Number</th>
    <th>Bed Number</th>
    <th>House Name</th>
    <th> Rent Status </th>
    <th>Action</th>
  </tr>

  {% for tenant in tenants %}
  <tr>
    <td>{{tenant.name}}</td>
    <td>{{tenant.age}}</td>
    <td>{{tenant.room_number}}</td>
    <td>{{tenant.bed_number}}</td>
    <td>{{tenant.house_name}}</td>
    <td>{{tenant.rent_status}}
      {%if tenant.rent_status == "unpaid"%}/<a href='/payrent/{{tenant.id}}'> Mark as
        paid</a>{%endif%}
    </td>
    <td><a href='/edittenant/{{tenant.id}}'>Edit</a> / <a href='/deletetenant/{{tenant.id}}'>Remove</a></td>
  </tr>
  {% endfor %}
  {%endif%}
</table>
{% if houses is defined and houses|length > 0 %}
<h3>Houses </h3>
<table>
  <tr>
    <th>House Name</th>
    <th>House Address</th>
    <th>House Rooms</th>
    <th>House Beds</th>
    <th>Action</th>
  </tr>

  {% for house in houses %}
  <tr>

    <td>{{house.house_name}}</td>
    <td>{{house.house_address}}</td>
    <td>{{house.house_rooms}}</td>
    <td>{{house.house_beds}}</td>
    <td><a href=''>Edit</a> / <a href=''>Delete</a></td>
  </tr>
  {% endfor %}
  {%endif%}
</table>
<!-- --------------------------------------------- -->
<hr>
<h3>Profile Options</h3>
User Id {{ current_user.id }} <br>
<a href="/addhouse">Add House To Track</a> <br>
<a href="/addtenant">Add Tenant</a> <br>
<a href="/removedtenants">See Removed Tenants</a> <br>
<a href="/logout">Logout</a> <br>


{% endblock %}